.dropdown-menu {
    width: 150px;
    position: absolute;
    top: 63px;
    left: 746px;
    list-style: none;
    text-align: start;
  }
  
  .dropdown-menu li {
    border-radius: 4px;
    background: rgb(213, 226, 213);
    cursor: pointer;
  }
  
  .dropdown-menu :hover {
    .dropdown-link{
      transition: all 0.3s ease-out;
      scale: 105%;
      color: var(--primary);
    }
  }
  
  .dropdown-menu.clicked {
    display: none;
  }
  
  .dropdown-link {
    font-size: 17px;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    text-decoration: none;
    color: #000000;
    padding: 15px;
  }
  