.dropdown-menu {
    width: 160px;
    position: absolute;
    top: 65px;
    left: 700px;
    list-style: none;
    background: gainsboro;
    border: 2px solid transparent;
    text-align: start;
    border-radius: 8px;
  }
  
  .dropdown-menu li {
    cursor: pointer;
    margin-left: 10px;
    font-weight: bold;
  }
  
  .dropdown-menu :hover {
    .dropdown-link{
      transition: all 0.3s ease-out;
      scale: 105%;
      color: var(--primary);
    }
  }
  
  .dropdown-menu.clicked {
    display: none;
  }
  
  .dropdown-link {
    font-size: 17px;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    text-decoration: none;
    color: #000000;
    padding: 15px;
  }
  