
.nav {
  position: fixed;
  display: flex;
  align-items: flex-start;
  left: 60%;
  top: 1rem;
  gap: 5.5625rem;
}

.logo{
  position: absolute;
  left: 8rem;
  top: 1.2rem;
  height: 40px;
  width: 40px; 
}
  
.page-title {
  font-size: 1.2rem;
  color: rgb(100, 197, 97);
  cursor: default;
  font-weight: normal;
}
  
.nav-link {
  opacity: 0.7;
}
  
.nav-link:hover {
  opacity: 1;

}
  
.nav-link.current {
  opacity: 1;
}

  
@media (max-width: 1100px) {
  .nav-home,
  .nav-impact,
  .nav-about,
  
.nav {
  top: calc(100vh - 8rem);
  transform: translateX(-50%);
}

.nav-link {
  width: 1rem;
}

.page-title {
  display: none;
  }
}